@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #5EAAA8;
}

.home-container{
  width: auto;
  height: auto;
  padding: 100px;
  background-color:#A3D2CA;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-left {
  width: 50%;
  height: 500px;
  padding: 20px;
  background-color:#E8DED2;
  box-shadow: 15px 15px 5px rgb(105, 139, 128);
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.container-left .head-left{
  text-align: center;
}

input[type=text], input[type=password] {
  width: 95%;
  padding: 12px 7px;
  margin: 8px;
  display: inline-block;
  border: 1.5px solid #E8DED2;
  background-color:#d4d2c5;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

button {
  background-color: #5EAAA8;
  color: #f5f3eb;
  padding: 14px 20px;
  margin: 13px auto;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
}

button:hover {
  opacity: 0.8;
}

span.psw {
  float: right;
}

@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

.container-right{
  width: 50%;
  height: 500px;
  background-color:#5EAAA8;
  box-shadow: 15px 15px 5px rgb(105, 139, 128);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.slideshow-container {
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}