*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #222;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 300;
    background: linear-gradient(to right, #5eaaa8 0%, #e8ded2 100%);
}

.login-box {
    position: relative;
    margin: 7% auto;
    width: 600px;
    height: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 4px black;
}

.left{
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px;
    width: 300px;
    height: 400px;
    box-sizing: border-box;
    background: #fff;
}

h1{
    margin: 0 0 40px 0;
    font-size: 28px;
    font-weight: #222;
    background: #fff;
}

#email, #password {
    display: block;
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 4px;
    width: 220px;
    height: 32px;
    border: none;
    border-bottom: 1px solid rgb(150, 150, 150);
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
    background: #fff;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    color: #16a085;
    transition: 0.2s ease;
    background: #fff;
}

input[type="submit"] {
    margin-top: 20px;
    width: 120px;
    height: 32px;
    background: #16a085;
    border: none;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.1s ease; 
    cursor: pointer;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    padding: 40px;
    width: 300px;
    height: 400px;
    border-left: 1px dashed rgba(0, 0, 0, 0.397);
    background: #fff;
}

.right .signinwith {
    display: block;
    margin-bottom: 55px;
    font-size: 28px;
    color: #222;
    text-align: center;
    background: #fff;
}

.social-signin {
    margin-bottom: 60px;
    width: 220px;
    height: 32px;
    border: none;
    cursor: pointer;
    font-weight: 200;
}

.facebook {
    background: #3A589E;
    color: white;
}

.google {
    background: rgb(180, 46, 46);
    color: white;
}
