@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #222;
    font-family: 'Jost', sans-serif;
    font-weight: 300;
    color: #5c4b51;
}

body {
    background: linear-gradient(to left, #056676 0%, #a3d2ca 100%)
}

.login-box{
    position: relative;
    margin: 7% auto;
    width: 380px;
    height: 100px;
    border-radius: 2px;
	background: #E8DED2;
	padding: 35px 50px;
}

h1{
    text-align: center;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 24px;
}

#email, #password{
    display: block;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 4px;
    width: 100%;
    height: 45px;
    border: 1px solid transparent;
	border-radius: 3px;
    background: rgb(184, 176, 166);
    font-weight: 400;
    font-size: 16px;
    transition: 0.2s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-bottom: 2px solid #16a085;
    transition: 0.2s ease;
}

input[type="submit"] {
    margin-top: 25px;
    width: 100%;
    height: 50px;
    background: #5EAAA8;
    border: none;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.1s ease; 
    cursor: pointer;
    letter-spacing: 3px;
}

.login-box a {
    color: #056676;
    padding-left: 220px;
}
