@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&display=swap');

*{
    margin: 0;
    font-family: 'Dosis', sans-serif;
}
.part_1{
    padding-top: 50px;
    text-align: center;
    background-color: #A3D2CA;
    height: 100px;
}

#part_2{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 4% 10% 5% 10%;
    background-color: #E8DED2;
    height: 300px;
    position: relative;
}
  
#part_3{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 3% 10% 5% 10%;
    background-color: #a3d2caef;
    height: 300px;
    position: relative;
}

#part_4{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 3% 10% 5% 10%;
    background-color: #66aca9f3;
    height: 300px;
}

#part_5{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    margin: 3% 10% 10% 10%;
    background-color: #298885e5;
    height: 300px;
}

.food{
  text-align: center;
}
.food:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.part_6{
  height: 160px;
  background-color: #056676;
  color: #E8DED2;
}

.part_6 .part_6_column {
  float: left;
  width: 22%;
  padding: 30% 0 0 -2%;
  line-height: 2;
}

.part_6 .part_6_column img{
  height: 160px;
  padding-left: 10%;
}

.part_7{
  margin-top: -10px;
  height: 90px;
  background-color: #056676;
  color: #fff;
  padding-left: 14%;
}

.part_7 img{
  height: 30px;
}

.part_7_row{
  padding-left: 13%;
}

.part_7 .part_7_column {
  color: #A3D2CA;
  float: left;
  width: 33%;
}